.incomplete-task {
    background-color: rgba(255, 0, 0, 0.253);
}

.completed-task {
    background-color: rgb(151, 239, 151);
}

.task-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // align-items: center;
    border-radius: 20px;
    height: 20%;
    padding-bottom: 10px;

    & .task-details {
        display: flex;
        flex-flow: column wrap;
        margin-left: 30px;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        width: 30%;

        & .current-details {
            text-align: left;
        }
    }

    & .options {
        display: flex;
        gap: 20px;
        margin-right: 30px;
        align-items: center;
        width: 30%;

        & #complete {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: white;
            border-radius: 10px;
            height: 20px;
            width: 20px;
            outline: 1px solid transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &.checked {
                background-color: blue;
            }

        }

        & button {
            width: 50%;
        }
    }
}