.incomplete-task {
    background-color: rgba(255, 0, 0, 0.253);
}

.completed-task {
    background-color: rgb(151, 239, 151);
}

.task-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

    & .task-details {
        display: flex;
        flex-flow: column wrap;
        margin-left: 30px;
        align-items: flex-start;
    }

    & .options {
        display: flex;
        gap: 20px;
        margin-right: 30px;
        align-items: center;

        & #complete {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: white;
            border-radius: 10px;
            height: 20px;
            width: 20px;
            outline: 1px solid transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:checked {
                background-color: rgba(100, 100, 247, 0.584);
            }
        }
    }
}