#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.adding {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.adding > button {
  width: 80%;
}

.searching {
  width: 50%;
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}