.new-form {
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    align-self: center;
    gap: 10px;

    & input {
        height: 30px;
        border-radius: 10px;
        outline: 1px solid grey;
        border: none;

        &:hover {
            outline: 1px solid blue;
            cursor: pointer;
        }
    }
}